        <div class="sideBarContainer">
          <div class="topSpacing"></div>
          <div class="bubble backShadow sitePale" id="staticPostsBubble">
            <a href="/saved">
              <div class="bubbleTop siteBlue menuTypeface whiteText selectionBlue">
                Saved Vents
              </div>
            </a>
            <a href="/originals">
              <div class="bubbleBottom siteBlue menuTypeface whiteText selectionBlue">
                Originals
              </div>
            </a>
          </div>

          <!-- GROUPS THE USER FOLLOWS, IF DOESN'T FOLLOW ANYTHING ONLY APPEAR
          AS A SINGLE BLUE BUBBLE FOR SEARCH - HENCE THE IF STATEMENT -->
          <% if(allFollowed.length > 0){ %>
            <div class="bubble backShadow sitePale">
              <div class="bubbleTop siteBlue menuTypeface edgeBar whiteText">
                <strong>Followed Groups</strong>
                <a href="/groups/search">
                  <span class="edgeTopRight clickableEdgeItem whiteText">
                    <i class="fas fa-search fa-sm"></i>
                  </span>
                </a>
              </div>
              <!-- loop through followed groups and add them to the sidebar, last
              one needs to be round - not in the loop modify <a> tag -->
              <% for (var i=0; i < allFollowed.length-1; i++){ %>
                <a class=""href= <%= "/groups/" + allFollowed[i]._id %> >
                  <div class="bubbleContent menuTypeface blueText selectionWhite">
                      <%= allFollowed[i].name %>
                  </div>
                </a>
              <% } %>
              <a class=""href= <%= "/groups/" + allFollowed[allFollowed.length-1]._id %> >
                <div class="bubbleBottom menuTypeface blueText selectionWhite">
                    <%= allFollowed[allFollowed.length-1].name %>
                </div>
              </a>
            </div>
          <% } else { %>
            <div class="bubble backShadow siteBlue">
              <div class="bubbleContent menuTypeface edgeBar whiteText">
                <strong>Followed Groups</strong>
                <a href="/groups/search">
                  <span class="edgeTopRight clickableEdgeItem whiteText">
                    <i class="fas fa-search fa-sm"></i>
                  </span>
                </a>
              </div>
            </div>
          <% } %>

          <!--THE USER'S GROUPS SIDEBAR BUBBLE-->
          <div class="bubble backShadow sitePale">
            <div class="bubbleTop siteBlue menuTypeface edgeBar whiteText">
              <strong>My Groups</strong>
            </div>
            <!-- loop through my groups and add them to the sidebar, modify <a> tag -->
            <% for (var i=0; i < allMine.length; i++){ %>
              <a href= <%= "/groups/" + allMine[i]._id %> >
                <div class="bubbleContent sitePale menuTypeface blueText selectionWhite">
                  <%= allMine[i].name %>
                </div>
              </a>
            <% } %>
            <!--this one stays-->
            <a href="/groups/new">
              <div class="bubbleBottom siteBlue menuTypeface whiteText selectionBlue">
                + Create New
              </div>
            </a>
          </div>
        </div>

        <!-- VENT ART  -->
        <div class=" stickyCont">
          <img src="/Images/ventImgBlack.png" class="indexImg paleImg" id="movingVent">
        </div>

        <script type="text/javascript" src="/JS/spinVent.js"></script>
