        <% if (!displayContents){ var displayContents = []; } %>
        <% for(var i=0; i < VDisplay.length; i++){ %>
          <div class="bubble  sitePale">
            <div class="bubbleTop edgeBar edgeBarStyle
              <%=VDisplay[i].category%>Color">
              <span class="edgeTopLeft">
                <% var timeInMinutes = (Date.now() - VDisplay[i].date) / (1000*60); %>
                <% var timeInHours = timeInMinutes / 60;                            %>
                <% var timeInDays = timeInHours / 24;                               %>
                <% var timeInMonths = timeInDays / 30.4375;                         %>
                <% var timeInYears = timeInMonths / 12;                             %>
                <% if(timeInMinutes < 60){ %>
                  <%= Math.floor(timeInMinutes) + " minutes ago"%>
                <% } else if(timeInHours < 24){ %>
                  <%= Math.floor(timeInHours) + " hours ago"%>
                <% } else if(timeInDays < 30.4375){ %>
                  <%= Math.floor(timeInDays) + " days ago"%>
                <% } else if(timeInMonths < 12){ %>
                  <%= Math.floor(timeInMonths) + " months ago"%>
                <% } else { %>
                  <%= Math.floor(timeInYears) + " years ago"%>
                <% } %>
              </span>

              <% var ventsIDs = currentUser.vents.map(function(aVent){return String(aVent)}); %>
              <% if(ventsIDs.includes(String(VDisplay[i]._id))){     %>
                <a href="/vents/<%= VDisplay[i]._id %>/edit">
                  <span class="edgeTopRight clickableEdgeItem">
                    <i class="fas fa-pencil-alt fa-sm"></i>
                  </span>
                </a>
              <% } %>
            </div>
            <div class="bubbleContent">
              <div class="ventBody displayDivQuill">
                <!-- Push the content that should go in here to the displayContents array.. to be processed as a quill -->
                <% displayContents.push(VDisplay[i].content) %>
              </div>
            </div>
            <div class="bubbleBottom edgeBar edgeBarStyle">
              <a href="/vents/<%= VDisplay[i]._id %>">
                <span class="edgeBotLeft clickableEdgeItem">
                  <i class="fas fa-comment fa-sm"></i>
                  <%= VDisplay[i].comments.length         %>
                  <% if(VDisplay[i].comments.length > 1){ %>
                    Comments
                  <% } else { %>
                    Comment
                  <% } %>
                </span>
              </a>

              <% var savedIDs = currentUser.saved.map(function(aVent){return String(aVent)}); %>
              <% if(!savedIDs.includes(String(VDisplay[i]._id))){    %>
                <a href="/vents/<%= VDisplay[i]._id %>/save">
                  <span class="edgeBotRight clickableEdgeItem">
                    <%= VDisplay[i].favourited %>
                    <i class="far fa-star fa-sm" id="favouritedIcon"></i>
                  </span>
                </a>
              <% } else { %>
                <a href="/vents/<%= VDisplay[i]._id %>/unsave">
                  <span class="edgeBotRight clickableEdgeItem">
                    <%= VDisplay[i].favourited %>
                    <i class="fas fa-star fa-sm" id="favouritedIcon"></i>
                  </span>
                </a>
              <% } %>
            </div>
          </div>

        <% } %>

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script type="text/javascript">
          if(displayConts){
            var arrayOfConts = <%- JSON.stringify(displayContents) %>;
            for(var i=0; i<arrayOfConts.length; i++){
              displayConts.push(arrayOfConts[i]);
            }
          } else {
            var displayConts = <%- JSON.stringify(displayContents) %>;
          }

        </script>
        <script type="text/javascript" src="/JS/richTextDisplaying.js"></script>
