<% include partials/header %>
      <div class="leftContainer">
          <div class="bubble backShadow" id="groupDescription">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>
              <%= ventGroup.name %>
            </strong>
          </div>
          <div class="bubbleContent sitePale">
            <div class="ventBody">
              <%= ventGroup.description %>
            </div>
          </div>
          <div class="bubbleBottom sitePale edgeBar">
            <span class="edgeBotLeft">
              <i class="fas fa-hashtag fa-sm"></i>
              <%= ventGroup.vents.length %> Vents
            </span>
          </div>
        </div>


        <% include partials/sorting %>
        <a href=" <%= "/groups/" + ventGroup._id + "/vent/new" %> ">
          <div class="addVentButton menuTypeface clickableEdgeItem">
            <i class="fas fa-plus fa-sm"></i>
            <span>Add Vent</span>
          </div>
        </a>


        <% for(var i=0; i < ventGroup.vents.length; i++){ %>
          <div class="bubble backShadow">
            <div class="bubbleTop sitePale edgeBar">
              <span class="edgeTopLeft">
                <%= ventGroup.vents[i].date %>
              </span>
            </div>
            <div class="bubbleContent sitePale">
              <div class="ventBody">
                <%= ventGroup.vents[i].content %>
              </div>
            </div>
            <div class="bubbleBottom sitePale edgeBar">
              <a href="/groups/<%= ventGroup._id %>/vent/<%= ventGroup.vents[i]._id %>">
                <span class="edgeBotLeft clickableEdgeItem">
                  <i class="fas fa-comment fa-sm"></i>
                  <%= ventGroup.vents[i].comments.length %>
                  <% if(ventGroup.vents[i].comments.length > 1){ %>
                    Comments
                  <% } else {%>
                    Comment
                  <% } %>
                </span>
              </a>
              <span class="edgeBotRight clickableEdgeItem">
                <%= ventGroup.vents[i].favourited %>
                <% if(!ventGroup.vents[i].favourited){ %>
                  0
                <% } %>
                <i class="far fa-star fa-sm"></i>
              </span>
            </div>
          </div>
        <% } %>


      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>

      <script type="text/javascript" src="/JS/sorting.js"></script>


<% include partials/footer %>
